.topBar{
    background-color:#BAD5D5;
    color:#4b4b4b;
    -webkit-box-shadow: 0px 1px 17px 0px rgba(77,77,77,0.8);
    -moz-box-shadow: 0px 1px 17px 0px rgba(77,77,77,0.8);
    box-shadow: 0px 1px 17px 0px rgba(77,77,77,0.8);
}

.contentContainer{
    background-color:#e4efef;
    position: relative;
    top: -7px;
    z-index: -1;
}